<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>HTML5 boilerplate—all you really need…</title>
  <link rel="stylesheet" type="text/css" href="/media/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/media/styles/style.css" />
  <script src="/media/scripts/lib/less-1.3.1.min.js"></script>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="level">
    <span>var miketoymil = {</span>
    <div class="level">
      <span>whaddup: { ... }</span>
    </div>
    <span>};</span>
  </div> 

</body>
</html>
